<div class="ui fluid green card">
  <div class="right ui rail">


    <%= form_tag ({:controller =>'students',:action=>'index'}) ,{:class => 'ui form',:multipart => true,:method => 'get'} do%>
        <div class="ui segment attached" style="text-align: left">
          <%= select_tag(:year, options_for_select([['1393-1394'], ['1394-1395']], selected: :year),
                         :class =>'ui selection  fluid dropdown') %>


          <div class="grouped fields" style="text-align: right">
            <div class="field">
              <div class="ui slider checkbox">
                <%= radio_button_tag :class_name ,'الف' ,true%>
                <label>کلاس الف</label>
              </div>
            </div>
            <div class="field">
              <div class="ui slider checkbox">
                <%= radio_button_tag :class_name ,'ب' ,false%>
                <label>کلاس ب</label>
              </div>
            </div>
          </div>


        </div>

        <%= button_tag  type: 'submit',:class => 'ui green button fluid labeled icon  bottom attached' do %>
            <i class="search icon"></i>
            جستجو...
        <% end %>
    <% end %>

  </div>
  <div class="content">
    <div class="header">
      دانش آموزان
    </div>
  </div>
  <div class="content">
    <p>
      در این صفحه شما می توانید لیست تمام دانش آموزان را مشاهده کنید همچنین می توانید با استفاده از تنظیمات منوی سمت راست سال تحصیل را نیز انتخاب کنید
    </p>
  </div>
</div>

<div class="ui warning message">
  <div style="text-align: center;direction: rtl">
    <i class="caret down icon"></i>
    نمایش دانش آموزان سال
    <%= @year %>
    کلاس سوم
    <%= @class_name %>
    <i class="caret down icon"></i>
  </div>
</div>
<div class="ui three link cards" id="cardlist">

  <% @students.each do |student| %>
      <%= render 'students/student_card', :student => student %>
  <% end %>
</div>

<script>
    $(document).ready(function(){
        $('.ui.dropdown')
                .dropdown()
        ;
    });
    <% if admin_signed_in? %>
    $(document).ready(function() {
        $('.special.card .image').dimmer({
            on: 'hover'
        });
    });
    <% end %>
</script>
<!--< %= link_to 'Show', student %>-->
<!--< %= link_to 'Edit', edit_student_path(student) %>-->
<!--< %= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %>-->
