<div class="ui segments">
  <div class="ui segment">
    <div class="ui right rail">
      <%= render 'students/student_card', :student => @student%>
    </div>
    <div class="ui header">
      مدال ها
    </div>
  </div>
  <div class="ui secondary segment" id="stickseg">
    <div class="ui three link cards">
      <% @medals.each do |medal| %>
          <%= render 'medals/medal_card' , :medal => medal%>
          <!--<td>< %= link_to 'Show', medal %></td>-->
          <!--< % if @student.medals.where(:id => medal.id).blank? %>-->
          <!--<td>< %= link_to 'Add medal ',{:controller => :students,:action => :add_medal ,:id => @student.id,:m_id => medal.id},method: :post %></td>-->
          <!--< % else %>-->
          <!--<td>< %= link_to 'remove medal',{:controller => :students,:action => :remove_medal ,:id => @student.id,:m_id => medal.id},method: :delete %></td>-->
          <!--< % end %>-->
          <!--</tr>-->
      <% end %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_student_path(@student) %> |<%= link_to 'projects', student_projects_path(@student) %>|
<%= link_to 'Back', students_path %>
