<div class="ui stackable centered grid" style="min-width: 100%;">
  <div class="ui four wide computer  sixteen wide mobile twelve wide tablet  column">
    <div class=" ui  card" style="margin: 0 auto">
      <div class="ui image ">
        <% if @student.avatar? %>
        <%= image_tag @student.avatar %>
        <%else%>
        <%= image_tag ('user_placeholder.png') %>
        <% end %>
      </div>
      <div class="ui content">
        <div class="ui header">
          <%= @student.first_name + ' '+@student.last_name %>
        </div>
      </div>
      <div class="content">
        <div class="ui meta">
          <%= 'کلاس: ' + @student.class_name%>
        </div>
        <div class="ui meta">
          <%= 'شماره لیست: ' + @student.class_number.to_s%>
        </div>
        <div class="ui meta">
          <%= 'تعداد مدال ها:' + ' '+@student.medals.count.to_s%>
        </div>
      </div>
      <div class="ui extra content">
        <div  class="ui <%=csscolor(@student)%> progress">
          <div style="width:<%=@student.score/10  %>%" class="bar">
            <%=@student.score.to_s  %>
          </div>
          <div class="label" style="direction :rtl">
            <%=  @student.score.to_s + 'امتیاز ' %>
            <i class="diamond icon"></i>
          </div>
        </div>

      </div>
      <%= link_to student_projects_path(@student),:class => "ui green labeled icon bottom attached button" do%>
      <i class="tasks icon"></i>
      پروژه ها
      <% end %>
    </div>
<% if @latest_medals.count !=0 %>
    <div class=" ui  card" style="margin: 20px  auto">
      <div class="ui green  label top attached" style="text-align:center;">
        اخرین مدال های کسب شده
      </div>
      <div class="content">
        <% @latest_medals.each do |medal| %>
        <div class="item">
          <%= link_to medal do%>
          <%= 'مدال'+' '+ medal.per_type_name + ' '+ medal.display_name %> 

          <% end %> 
        </div>
        <% end %>
      </div>

    </div>
<% end %>
  </div>

  <div class="ui eight wide computer  sixteen wide mobile twelve wide tablet column">
    <div class="ui segments">
      <div class="ui segment">
        <div class="ui header">
          مدال ها
        </div>
      </div>
      <div class="ui green secondary segment">
        <div class="ui horizontal divider ">
          لیست مدال هایی که شما کسب کرده اید
        </div>

        <% if @medals.count == 0 %>
        <div class="ui message warning">
          متاسفانه شما هیچ مدالی ندارید
        </div>
        <% end %>
        <br>
        <div class="ui three link cards">
          <% @medals.each do |medal| %>
          <%= render 'medals/medal_card_add_medal' , :medal => medal ,:student =>@student%>
          <% end %>
        </div>
        <div class="ui horizontal divider ">
          مدال هایی که باید کسب کنید
        </div>
        <div class="ui three link cards disable">
          <% @not_mine_medals.each do |medal| %>
          <%= render 'medals/medal_card_add_medal' , :medal => medal ,:student =>@student%>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to 'بازگشت',_back_url ,:class => 'ui button'%>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('#pr').progress();
  });
</script>
