<div class="ui sixteen wide mobile twelve wide tablet eight wide computer column">
  <div class=" ui green card fluid">
    <div class="content">
      <div class="header">
        کلاس شهرسازی سوم دبستان
      </div>

    </div>
    <div class="image">
      <%= image_tag(@background) %>
    </div>
    <div class="content">
      <div class="description" style="direction:rtl;">
        در كلاس شهر سازي به دنبال ياد گرفتن مفاهيم شهرسازي و شبيه سازي شهر ها هستيم. در اين كلاس ياد مي گيريم شهر ها چگونه به وجود آمدند و شهر هاي بزرگ و منظّم چگونه طرّاحي مي شوند. سعي مي كنيم شهري با مشخّصات مناسب بسازيم. براي اين كارها از  نرم افزارهاي شبيه سازي شهر استفاده مي كنيم و ياد مي گيريم چگونه به آن ها كار كنيم. در نهايت مي توانيم شهرهاي مناسب و منظّم ساخته و آن ها را  مديريت كنيم.
        در اين صفحه مشخّصات شهرهايي كه ساخته ايم و همچنين مدال هايي كه كسب كرده ايم آورده شده است. اين صفحه توانايي ها و ميزان پيشرفت ما را در زمينه شهر سازي و مديريت شهر نشان مي دهد.

      </div>
    </div>
    <div class="extra content">
      <span class=" floated">
        تابستان 1394
      </span>
    </div>
  </div>

  <% @posts.each do |post| %>
      <div class=" ui green card fluid">
        <div class="content">
          <div class="header" style="direction: rtl;">
            <%= post.title %>
          </div>
        </div>
        <% if post.image? %>
            <div class="image">
              <%= image_tag post.image %>
            </div>
        <% end %>
        <div class="content">
          <div class="description" style="direction:rtl;">
            <%= post.content%>
          </div>
        </div>
        <div class="extra content">
      <span class="right floated">
            <%= post.created_at.to_jalali.strftime("%A %d %B %Y") %>
      </span>
<% if post.file?%>
		<div class= "left floated">
			<%=  link_to 'دریافت فایل', post.file_url,:target=>"_blank",:class=>"ui  green button"%>	
		</div>
<% end %>
        </div>
      </div>
  <% end %>

  <% unless (@studentsA.first == nil or @studentsA.first.score == 0) and (@studentsB.first == nil or @studentsB.first.score == 0)%>
      <div class="ui segments">
        <div class="ui  segment">
          <div class="ui header">
            برترین ها
          </div>
        </div>
        <div class="ui green secondary segment">
          <div class="ui three link cards">
            <div class="ui horizontal divider ">
              کلاس الف
            </div>
            <% @studentsA.each do |student| %>
                <%= render 'students/student_card', :student => student %>
            <% end %>
            <div class="ui horizontal divider ">
              کلاس ب
            </div>
            <% @studentsB.each do |student| %>
                <%= render 'students/student_card', :student => student %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>


  <!--<a class="launch icon item">-->
  <!--<i class="content icon"></i>-->
  <!--</a>-->
</div>
