<div class="ui sixteen wide mobile twelve wide tablet eight wide computer column ">
      <table class="ui celled green attached striped table" >
        <thead>
        <tr>
          <th></th>
          <th>تاریخ انتشار</th>
          <th>نمایش</th>
          <th>عنوان</th>
        </tr>
        </thead>

        <tbody>
        <% @posts.each do |post| %>
            <tr>
              <!--<td></td>-->
              <td>
                <div class="ui icon buttons">
                      <%= link_to  edit_post_path(post),:class => "ui  button" do%>
                          <i class="edit icon"></i>
                      <% end %>
                      <%= link_to  post_path(post), method: :delete, data: { confirm: 'Are you sure?' } ,:class => "ui red button" do%>
                          <i class="trash icon"></i>
                      <% end %>
                </div>
              </td>
              <td><%= post.created_at.to_jalali.strftime("%A %d %B %Y")  %></td>
              <td><%= post.show %></td>
              <td><%= post.title %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to 'پست جدید', new_post_path,:class => 'ui green button bottom attached'%>
</div>
