<!DOCTYPE html>
<html>
<head>
  <title>کلاس شهرسازی</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>


<!--<div class="burger">-->
<!--<div class="ui icon button ">-->
<!--<i class="ui block layout icon"></i>-->
<!--</div>-->
<!--</div>-->
<div class="ui left visible vertical inverted sidebar labeled icon menu">
  <%= link_to root_path ,:class => 'item' do %>
      <i class="home icon"></i>
      خانه
  <% end %>
  <%= link_to medals_path ,:class => 'item' do %>
      <i class="certificate  icon"></i>
      مدال ها
  <% end %>
  <%= link_to students_path ,:class => 'item' do %>
      <i class="users  icon"></i>
      دانش آموزان
  <% end %>
  <%= link_to tutorials_path ,:class => 'item' do %>
      <i class="video play  icon"></i>
      فیلم های آموزشی
  <% end %>
  <!--<%= link_to '#',:class => 'item' do %>-->
      <!--<i class="travel icon"></i>-->
      <!--معلمین-->
      <!--<% end %>-->
  <% unless admin_signed_in? %>
      <%= link_to new_admin_session_path ,:class => 'item' do %>
          <i class="sign in icon"></i>
          ورود
      <% end %>
  <% else %>
      <%= link_to new_student_path,:class => 'item' do %>
          <i class="plus icon"></i>
          افزودن دانش آموز
      <% end %>
      <%= link_to new_medal_path ,:class => 'item' do %>
          <i class="plus icon"></i>
          افزودن مدال
      <% end %>
      <%= link_to posts_path ,:class => 'item' do %>
          <i class="newspaper icon"></i>
          پست جدید
      <% end %>
      <%= link_to upload_path ,:class => 'item' do %>
          <i class="upload icon"></i>
          بروز رسانی
      <% end %>
      <%= link_to destroy_admin_session_path ,:method => 'delete',:class => 'item' do %>
          <i class="sign out icon"></i>
          خروج
      <% end %>

  <% end %>
</div>
  <div class="ui grid container stackable centered ">
    <%= yield %>
  </div>
</body>
</html>
